.Header {
  text-align: center;
}

.Header img {
  width: 150px;
}

.Header a {
  text-decoration: none;
  margin: 0;
}

.Header p {
  margin: 0;
}

.Header h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .Header {
    position: fixed;
    left: 0;
    width: 25%;
  }
}